name: Update artha database with data from the datafiles for a given date

# Controls when the action will run.
on:
  schedule:
    # Run at midnight UTC (4 pm PDT) Mon thru Fri
    - cron: "30 22 * * 1-5"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  update-db:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
        with:
          lfs: true

      # Force checkout to explicitly using lfs to ensure the pointer files are replaced with the actual file content
      - name: Checkout LFS objects
        run: git lfs checkout

      # set the current date in environment to be used for appending to filenames in subsequent steps
      - name: current-date
        #run: echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
        run: echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      # Install dependencies in the virtual environment, if cache miss
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # Run database update script
      - name: execute-db-update
        run: |
          ${GITHUB_WORKSPACE}/scripts/update_db.sh ${{ env.DATE }}

      # Commit database changes
      - name: commit-changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "updated database with new data as of ${{ env.DATE }}"
          git push


